In [12]:
import pandas as pd

In [13]:
leavetype = 'CK'
lable = 1
# filename = ['H:/BYK/Spectra/',fold, '/averspectra- ', str(H1), '-', str(H2), '.csv']  #这种结果是list
filename = 'F:/数据处理/混合样本/' + leavetype + 'avg' + '.csv'
# filename = 'H:/BYK/Spectra/02/averspectra-1-3.csv'
df = pd.read_csv(filename,header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,340,341,342,343,344,345,346,347,348,349
0,0.091266,0.092301,0.094150,0.096756,0.10002,0.10384,0.10802,0.11241,0.11684,0.12133,...,0.54266,0.54233,0.54205,0.54167,0.54134,0.54103,0.54071,0.54043,0.54020,0.53990
1,0.099854,0.100880,0.102770,0.105440,0.10884,0.11281,0.11717,0.12174,0.12636,0.13106,...,0.60458,0.60425,0.60387,0.60354,0.60334,0.60321,0.60303,0.60296,0.60302,0.60283
2,0.090740,0.092014,0.094263,0.097376,0.10127,0.10576,0.11063,0.11572,0.12085,0.12602,...,0.57717,0.57691,0.57660,0.57638,0.57607,0.57577,0.57552,0.57528,0.57493,0.57467
3,0.147280,0.149390,0.153000,0.157930,0.16400,0.17094,0.17843,0.18618,0.19399,0.20169,...,0.57904,0.57865,0.57817,0.57768,0.57722,0.57672,0.57623,0.57578,0.57532,0.57482
4,0.103780,0.105250,0.107860,0.111510,0.11611,0.12143,0.12724,0.13329,0.13939,0.14554,...,0.55946,0.55906,0.55864,0.55827,0.55808,0.55795,0.55790,0.55786,0.55791,0.55780

In [11]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,340,341,342,343,344,345,346,347,348,349
234,0.094905,0.095901,0.097615,0.099986,0.102943,0.106337,0.110016,0.113829,0.117658,0.121491,...,0.443152,0.442792,0.442554,0.442254,0.441999,0.441666,0.441348,0.441074,0.440843,0.440605
235,0.133538,0.135572,0.139052,0.143779,0.149564,0.156131,0.163179,0.170436,0.177655,0.184807,...,0.452686,0.452408,0.452106,0.451748,0.451394,0.451060,0.450623,0.450177,0.449897,0.449699
236,0.126656,0.128358,0.131268,0.135285,0.140243,0.145898,0.152031,0.158359,0.164710,0.171033,...,0.524115,0.523802,0.523537,0.523353,0.523120,0.522933,0.522696,0.522449,0.522305,0.522108
237,0.085592,0.086413,0.087871,0.089889,0.092417,0.095332,0.098496,0.101790,0.105106,0.108438,...,0.507176,0.506929,0.506688,0.506400,0.506132,0.505833,0.505497,0.505074,0.504827,0.504668
238,0.119446,0.120843,0.123293,0.126662,0.130839,0.135627,0.140800,0.146156,0.151509,0.156863,...,0.446456,0.446039,0.445898,0.445601,0.445292,0.444966,0.444799,0.444471,0.444291,0.444131

In [14]:
df.shape  ## WKB实际上有243行，第一行缺失，另外还有缺失不知道在哪里

(210, 350)

In [15]:
df.index.max() + 2

209