In [1]:
import pandas as pd

In [4]:
fold = 1
OPtype = 'PCA'
#filename = ['H:/BYK/Spectra/',fold, '/averspectra- ', str(H1), '-', str(H2), '.csv']  #这种结果是list
filename = 'F:/RBFNN_whichcategory/RBFNN-'+OPtype+str(fold)+ '.csv'
df = pd.read_csv(filename,header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
0,0.942870,0.752420,0.822460,0.903910,0.96375,0.95199,0.909610,0.833200,0.621190,0.930400,...,0.015918,0.15839,-0.028318,0.093074,0.64637,0.45708,0.324710,0.21617,0.175540,-0.239240
1,-0.134370,0.085846,0.032677,0.077279,-0.13721,0.01954,-0.034145,-0.016139,-0.036564,0.042499,...,0.191460,0.29819,0.218340,0.193260,0.22274,0.14245,0.094114,-0.15567,-0.022125,-0.012553
2,0.107450,0.406550,0.155370,-0.052564,0.00244,-0.14985,0.019863,-0.007645,0.053832,0.149150,...,0.232910,0.19559,0.154740,0.278290,0.00443,0.14148,0.155080,0.19573,0.175540,0.146820
3,0.091282,-0.239790,-0.008887,0.074460,0.17484,0.17334,0.106540,0.185850,0.359740,-0.120910,...,0.562540,0.34895,0.658320,0.435040,0.11660,0.25621,0.423810,0.74294,0.666810,1.101500

In [25]:
maxcol = df.shape[1]
maxcol

126

In [8]:
import numpy as np
a = np.argmax(df.iloc[:,125])
n = a+1
n

4

In [23]:
category = []
result = pd.DataFrame()
for i in range(126):
    a = np.argmax(df.iloc[:,i])
    n = a+1
    category.append(n)
result = result.append(category)
result.to_csv('F:/RBFNN_whichcategory/'+OPtype+str(fold)+'result'+ '.csv',index=None,header=None)

In [ ]:


for H1 in range(1,5,1):
        fold = H1
        OPtype = 'WKB'
        #filename = ['H:/BYK/Spectra/',fold, '/averspectra- ', str(H1), '-', str(H2), '.csv']  #这种结果是list
        filename = 'F:/RBFNN_whichcategory/RBFNN-/'+OPtype+str(fold)+ '.csv'
        #filename = 'H:/BYK/Spectra/02/averspectra-1-3.csv'
#         df = pd.read_csv(filename,header=None)
#         df.to_csv('F:/数据处理/原始分散数据/'+leavetype+'avg'+'.csv', mode='a', header=False,index=None)
#         df = None