In [2]:
import pandas as pd

variety = '01'
diseasetype = ['CK','WKB','DWB','BYK']


df.shape

(45, 350)

In [16]:
objectfile = 'E:/EXPERIMENT/SGmethod/'+variety+'mean.csv'

df_mean = df.mean(axis=0) #按列求平
for ty in diseasetype:
    filename = 'F:/数据处理/原始分散数据/'+ty+'avg'+variety+'.csv'
    df = pd.read_csv(filename,header=None)
    df_mean = df.mean(axis=0) #按列求平均
    df_mean_t = pd.DataFrame(df_mean).T #实现转置为行，否则存储为了一列
    df_mean_t.to_csv(objectfile,mode='a', header=False, index=None)

In [15]:
df_mean_t = pd.DataFrame(df_mean).T
# df_mean_t.to_csv(objectfile,mode='a', header=False, index=None)
df_mean_t

,0,1,2,3,4,5,6,7,8,9,...,340,341,342,343,344,345,346,347,348,349
0,0.097435,0.098689,0.100853,0.103832,0.107519,0.111758,0.116334,0.121099,0.125916,0.130696,...,0.504055,0.503707,0.503369,0.503005,0.502631,0.502279,0.501962,0.501662,0.501411,0.501168